
<!--
routerLink 链接路由到指定组件
路由前面需要加上斜杠 / ,
路由分为根路由和子路由
现在写法用斜杠开头 / 表示导航到根路由，从根路由中找出匹配的组件
 -->

 <!--
   1: 启动应用，首先展示的home组件，组件内容展示在<router-outlet> 标签后面，现在点击商品相亲连接，会把home组件替换成product组件
   2： 为什么routerLink 的参数 是一个数组，而不是一个字符串，是因为可以在路由中传递一些参数，
  -->
  <!-- routerLink 改变浏览器的地址-->
<a [routerLink]="['/']">主页</a><br>
<!-- 第一种路由传参方式：在查询参数中传递数据 -->
<!-- <a [routerLink]="['/product']" [queryParams]="{id:1}">商品详情</a><br> -->

<!-- 第二种路由传参的方式：在路由的路径中传递数据： -->
<a [routerLink]="['/product', 2]" >商品详情</a><br>
<!-- 通过navegate方法来改变浏览器的地址，从而实现路由的转换， -->
<input type="button" value="商品详情" (click)="toProductDetails()"><br>

 <!-- <a [routerLink]="[{outlets: {aux：'chat'}}]" >开始聊天</a> -->
<!-- <a [routerLink]="[{outlets: {aux：null}}]" >结束聊天</a> -->
<!--
  <router-outlet> 组件要展示的位置，比如说路由导航到product时，ProductComponent组件要展示的位置就在 <router-outlet> 后面
 -->
<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet>
